{{#isDefaultVariant}}
import { useBlockProps } from '@wordpress/block-editor';
{{/isDefaultVariant}}
{{#isInnerBlocksVariant}}
import { useBlockProps, useInnerBlocksProps } from '@wordpress/block-editor';
{{/isInnerBlocksVariant}}
{{#isInteractiveVariant}}
import { useBlockProps } from '@wordpress/block-editor';
{{/isInteractiveVariant}}

/**
 * @return {Element} Element to render.
 */
export default function Edit() {
	const blockProps = useBlockProps();
    {{#isInnerBlocksVariant}}
	const innerBlocksProps = useInnerBlocksProps({}, {});
	{{/isInnerBlocksVariant}}

	return (
		<div {...blockProps}>
			{{#isInnerBlocksVariant}}
			<div {...innerBlocksProps} />
			{{/isInnerBlocksVariant}}
		</div>
	);
}
